.timeline-container {
	height: 100%;
	@media (max-width: 500px) {
		height: 400px;
	}
	width: 100%;
	flex-grow: 1;
	.slider {
		min-height: 22vh;
		position: relative;
		perspective: 1000px;
		transform-style: preserve-3d;
		margin: 40vh 0;
		@media (max-width: 500px) {
			margin: 15vh 0;
		}
		[type='radio'] {
			display: none;
		}
		label {
			margin: auto;
			width: 80%;
			height: 100%;
			border-radius: 4px;
			position: absolute;
			left: 0;
			right: 0;
			cursor: pointer;
			transition: transform 0.4s ease;
			background-color: white;
			.academic-timeline {
				height: 100%;
				padding: 10px;
				display: flex;
				font-size: 8vw;
				justify-content: space-evenly;
				.fas {
					text-align: center;
					box-sizing: border-box;
					height: fit-content;
					flex-basis: fit-content;
					margin: auto 0;
				}
				.academic-details {
					box-sizing: border-box;
					text-align: center;
					justify-content: middle;
					height: min-content;
					margin: auto 0;
					h3,
					h4,
					h2 {
						margin: 0 auto;
						height: min-content;
					}
				}
			}
		}
		.upper {
			box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.37);
			transform: translate3d(0, -60%, -170px);
			transition: all 0.2s ease-in-out;
		}
		.middle {
			box-shadow: 13px 0 25px 0 rgba(0, 0, 0, 0.3),
				0 11px 7px 0 rgba(0, 0, 0, 0.19);
			transform: translate3d(0, 0, 30px);
			transition: all 0.2s ease-in-out;
		}
		.lower {
			box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.37);
			transform: translate3d(0, 60%, -170px);
			transition: all 0.2s ease-in-out;
		}
	}
}
