@import '../../../colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.Nav {
	background-color: transparent;
	// justify-content: center;
	padding: 0 10%;
	padding-top: 24px;
	font-family: 'Lato', sans-serif;
	.container {
		width: 100%;
		// padding: 0px;
	}
}
