#photo {
	flex-grow: 1;
	display: flex;
	margin: 0 0;
	padding: 0 0;

	img {
		margin: auto;
		@media (min-width: 1000px) {
			height: 100vh;
		}
		@media (max-width: 830px) {
			border-radius: 500px;
		}
	}
}
