@import '../../../colors.scss';

.nav-elements {
	margin: auto;
	padding: 0 10px;
	color: $secondary-color;
	text-decoration: none;
	&:hover {
		color: $additional-color;
	}
}
.active {
	color: $additional-color;
}
