@import '../../../colors.scss';

.content-wrapper {
	flex-shrink: 1.8;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
.content {
	position: relative;
	color: $secondary-color;
	text-align: justify;
	font-weight: bold;
	width: 85%;
	list-style: none;
	@media (min-width: 430px) {
		left: -40px;
	}
	li:before {
		font-family: 'FontAwesome';
		content: '\f30b';
		margin: 0 10px 0 -15px;
		color: $option-color2;
	}
	.btn {
		margin-top: 20px;
		background-color: $primary-color;
		border-color: $secondary-color;
		color: $secondary-color;
	}
	.btn:hover {
		background-color: $option-color2;
	}
}
