@import '../../../colors.scss';

.content-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	// min-width: 400px;
}
#content {
	color: $primary-color;
	background-color: $secondary-color;
	margin: 0 10% 0 30%;
	padding: 30px;
	text-align: justify;
	border-radius: 50px 0px 50px 0px;
	font-weight: bold;
}
